
<!DOCTYPE HTML>
<html class="no-js" >
<head>
<%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
</head>
<body class="theme-white color-default card  desktop windows chrome not-safari use-sidebar">
    <script>
        loadPrefersDarkModeState();
        if (LocalConst.USE_MIRAGES_DARK || (LocalConst.AUTO_NIGHT_SHIFT && LocalConst.PREFERS_DARK_MODE)) {
            var body = document.querySelector("body");
            body.classList.remove('theme-white');
            body.classList.add('theme-dark');
        }
    </script>
<!--[if lt IE 9]>
<div class="browse-happy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->
<div class="sp-progress"></div>
<div id="wrap">
    <span id="backtop" class="waves-effect waves-button"><i class="fa fa-angle-up"></i></span>
  <%- include('./includes/header') %>
    
    <div id="body">
        <style type="text/css">
    /** 页面样式调整 */
                div#comments{
        margin-top: 0;
    }
                        #footer{
        padding: 1.25rem 0;
    }
        
                .inner {
        background-color: rgba(0,0,0,0.25);
    }
        #masthead {
        min-height: 12.5rem;
    }
                </style>
<style type="text/css">
    </style>        <script type="text/javascript">
            var wrap = document.querySelector('#wrap');
            wrap.classList.remove('display-menu-tree');
            var body = document.querySelector('body');
            body.classList.remove('display-menu-tree');
            LocalConst.TOC_AT_LEFT = false;
            
                        if (body.classList.contains('no-banner')) {
                body.classList.remove('no-banner');
            }                        if (body.classList.contains('content-lang-en')) {
                body.classList.remove('content-lang-en');
            }                        if (body.classList.contains('content-serif')) {
                body.classList.remove('content-serif');
            }            LocalConst.SHOW_TOC = false;
                    </script>
                                <header id="masthead" class="align-center align-middle " style="
            height:
        65;">
            <div class="blog-background"></div>
                        <div class="lazyload-container"></div>
            <script type="text/javascript">
            var blurBanner = false;                if (!blurBanner) registLoadBanner();
            </script>
				<% if (themeConfig.showFeatureImage && post.feature) { %>					
            <img id="lazyload-img" alt="page banner image" src="<%= post.feature %>?imageView2/2/w/64/q/75" style="display: none" onload="javascript:loadBanner(this, '<%= post.feature %>', '', document.querySelector('#masthead'), '1', window.screen.availWidth, window.screen.availHeight, blurBanner)">
				<% } %>					
                        <script type="text/javascript">
                var head = document.querySelector("#masthead");
                var bgHeight = getBgHeight(window.innerHeight, '65', '40');
                head.style.height = bgHeight + "px";
                            </script>
									
									
									
									
									
                        <div class="inner">
                <div class="container">
                    <h1 class="blog-title" style="">
                        <%= post.title %>                    </h1>
                    <h2 class="blog-description font-mono" style="">
						
                        <%= post.dateFormat %> • 阅读: <span id="busuanzi_value_page_pv"></span> • 
							<% post.tags.forEach(function(tag) { %>
							<a href="<%= tag.link %>"><%= tag.name %></a>
								 <% }); %>									  
																	  
																	  • <a href="javascript:void(0)" id="page-read-setting-toggle">阅读设置</a>                    </h2>
                </div>

            </div>
                    </header>
                    <div class="container">
            <div class="row">



<div id="post" role="main">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="display-none" itemscope itemprop="author" itemtype="http://schema.org/Person">
            
        </div>
        <div class="display-none" itemscope itemprop="publisher" itemtype="http://schema.org/Organization">
            
            
                <meta itemprop="url" content="https://secure.gravatar.com/avatar/e9ebe6ce987b5a6eded073a87771a1bb?s=50&amp;r=PG&amp;d=">
            </div>
        </div>
        
                <div class="post-content" itemprop="articleBody">
                        <p><%- post.content %>  </p>                    </div>
        <div class="tags">
			<div itemprop="keywords" class="keywords atudds">
				<% post.tags.forEach(function(tag) { %>
				<a href="<%= tag.link %>"><%= tag.name %></a> 
				 <% }); %>												
																
																</div>
                    </div>
                <div class="post-buttons">
            <a id="toggle-archives" class="btn btn-grey" href="<%= themeConfig.domain %>/archives/">返回文章列表</a>
                       <a id="toggle-post-qr-code" class="btn btn-grey">文章二维码</a>
                                    <a id="toggle-reward-qr-code" class="btn btn-grey">打赏</a>
                    </div>
            </article>
</div>
</div>
</div>
<div id="qr-box">
    <div class="post-qr-code-box">
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=<%= post.link %>" width="250" height="250" alt="本页链接的二维码"/>
    </div>
    <div class="reward-qr-code-box">
		<% if (site.customConfig.ds) { %>
        <img src="<%= site.customConfig.ds %>" height="250" alt="打赏二维码"/>
		<% } %>	
    </div>
</div>
<div id="body-bottom">
<div class="container">
            <div class="post-near">
            <nav>
				 <% if (post.nextPost && !post.hideInList) { %>
                <span class="prev"><a href="<%= post.nextPost.link %>" title=" <%= post.nextPost.title %>"><span class="post-near-span"><span class="prev-t no-user-select color-main">下一篇: </span><br><span>
															<%= post.nextPost.title %></span></span></a></span>
                <% } %>
            </nav>
        </div>
            
    <div id="comments">
                      <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
          <% if (commentSetting.commentPlatform === 'gitalk') { %>
            <%- include('./includes/gitalk') %>
          <% } %>
          <% if (commentSetting.commentPlatform === 'disqus') { %>
            <%- include('./includes/disqus') %>
          <% } %>
        <% } %>
                    </div>



    </div>
</div>
</div><!-- end #body -->
</div><!-- end #wrap -->
<%- include('./includes/footer') %>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
    <script src="<%= themeConfig.domain %>/media/scripts/jquery.min.js" type="text/javascript"></script>
<script src="<%= themeConfig.domain %>/media/scripts/mirages.main.min.js" type="text/javascript"></script>

<!-- APlayer Start -->
<script type="text/javascript" src="<%= themeConfig.domain %>/media/scripts/APlayer.min.js"></script>
<script>
var len = APlayerOptions.length;
for(var i=0;i<len;i++){
    APlayers[i] = new APlayer({
        element: document.getElementById('player' + APlayerOptions[i]['id']),
        narrow: false,
        preload: APlayerOptions[i]['preload'],
        mutex: APlayerOptions[i]['mutex'],
        autoplay: APlayerOptions[i]['autoplay'],
        showlrc: APlayerOptions[i]['showlrc'],
        music: APlayerOptions[i]['music'],
        theme: APlayerOptions[i]['theme']
        });
    APlayers[i].init();
}
</script>
<!-- APlayer End -->

<script type="text/javascript">Page.highlightCodeBlock();</script>


<script type="text/javascript">pangu.spacingElementByClassName('container');</script>
<script type="text/javascript">Waves.init();</script>

<script type="text/javascript">
    (function ($) {
                if (typeof registCommentEvent === 'function') {
            registCommentEvent();
        }
                        Page.setupLazyLoadImage();
                        Page.setupCDNImageOptimize();
                Page.loadDisqus();
        Page.setupContents();
        Page.bindQRCodeBlockEvents();
            })(jQuery);
    </script>
<!--textClick Begin-->

<!--textClick END-->


</body>
</html>
